<div class="wallpaper">
</div>

<form class="container" [formGroup]="pokemonForm">

    <h1 id="title">Register your Pokemon!</h1>

    <div class="example-container ">
      
        <mat-form-field class="" hintLabel="Max 30 characters" appearance="fill">
          <mat-label >Pokemon name:</mat-label>
          <input  formControlName="pokemonName" matInput #input maxlength="30" placeholder="Ex. Charizard">
          <mat-hint  align="end">{{input.value?.length || 0}}/30</mat-hint>
          <mat-error *ngFor="let validation of validation_messages.pokemonName">
            <mat-error class="error-message" *ngIf="pokemonForm.get('pokemonName').hasError(validation.type) 
            && (pokemonForm.get('pokemonName').dirty || pokemonForm.get('pokemonName').touched)"
            >{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        
       
    </div>

    <div>
        <div class="example-container " >
          <mat-form-field id="type" appearance="fill">
            <mat-label>Pokemon type:</mat-label>
            <mat-select   [formControl]="type" multiple>
              <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field> 

            <mat-form-field  appearance="fill" id="wekness" >
                <mat-label> Pokemon wekness: </mat-label>
                <mat-select   [formControl]="type" multiple>
                <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>  

    <div class="example-container">
      <div  [formGroup]="options" [style.fontSize.px]="getFontSize()">

          <mat-form-field appearance="fill" [color]="colorControl.value">
            <mat-label >Gender:</mat-label>
            <mat-select  [formControl]="colorControl">
              <mat-option value="primary">Male</mat-option>
              <mat-option value="accent">Female</mat-option>
            </mat-select>
            
          </mat-form-field>
     
          <!-- Código do formulário do site! -->
          <mat-form-field class="full-width">
            <mat-select  placeholder="Gender">

              <mat-option *ngFor="let pokemonGender of pokemonGenders" [value]="pokemonGender">
                {{ pokemonGender }}
              </mat-option>
            <mat-error *ngFor="let validation of validation_messages.pokemonGender">
              <mat-error class="error-message" *ngIf="pokemonForm.get('pokemonGender').hasError(validation.type)
                && (pokemonForm.get('pokemonGender').dirty || pokemonForm.get('pokemonGender').touched)
                ">{{validation.message}}</mat-error>
            </mat-error>
            </mat-select>

           
          </mat-form-field>

          <mat-form-field appearance="fill">
              <mat-label>Height</mat-label>
              <input  matInput type="number" step=".01" min="0.0" max="5.0" matInput mask="0.00"
                placeholder="0,0 m" >
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Weight</mat-label>
              <input  matInput type="number" step=".01" min="0.0" max="100.0" matInput mask="000.00" 
                placeholder="0,0 kg" >
              </mat-form-field>
            </div>

        <mat-form-field appearance="fill">
          <mat-label>Birthday of Pokemon</mat-label>
          <input  matInput [matDatepicker]="picker"   formControlName="pokemonBirthday" required  >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.pokemonBirthday">
            <mat-error class="error-message" *ngIf="pokemonForm.get('pokemonBirthday').hasError(validation.type)
             && (pokemonForm.get('pokemonBirthday').dirty || pokemonForm.get('pokemonBirthday').touched)"
             >{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
    </div>
    <section>
        <div class="example-button-row">
          <button [disabled]="!pokemonForm.valid" type="submit" mat-stroked-button color="primary">Send</button>
        </div>
      </section>
    
</form>
