.wallpaper{
  background-image: url("../img/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  width: 100%;
  transform: scale(0.5);
  z-index: -1;
  position: absolute;
  display: flex;
  left: 27.7em;
  bottom: 4em;
 
}

#title {
    text-align: center;
    margin-bottom: 3em;
}

.container {
    margin: 0em 5em 5em;
    margin-top: 5em;
    border: .7px rgba(187, 187, 187, 0.555) solid;
    padding: 50px;
}

.mat-form-field + .mat-form-field {
    margin-left: 15px;
    margin-bottom: 30px;
}

#wekness, #type{
    width: 18em;
}

section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .example-container{
    margin-bottom: 20px;
  }